# Do not include azure-functions-worker in this file
# The Python Worker is managed by the Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
fastapi==0.68.0
uvicorn==0.15.0
sqlalchemy==1.4.26
jose==1.0.0
python-jose==3.3.0
passlib==1.7.4
pydantic==1.8
python-dotenv
langchain
python_version >=3.8